*{
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;   
}
body{
	font-family: 'helvetica', 'Open Sans', arial;
}
.center{
	text-align: center;
}
header{
	margin: 6em 0;
}
p{
	margin: 0.5em 0;
}
.item{
	float: left;
	width: 23%;
	height: 200px;
	margin: 1%;
	position: relative;
	background: #eee;
}

.tooltip{
	color: #fff;
	line-height: 50px;
	text-align: center;
	position: absolute;
	right: 1em;
	top: 1em;
	width: 50px;
	height: 50px;
	background: #000;
}

.tooltip:hover .tooltip__content{
	visibility: visible;
}

.tooltip__content{
	border: 1px solid rgba(0,0,0,.2);
	line-height: 1.55em;
	text-align: left;
	color: #000;
	width: 450%;
	visibility: hidden;
	position: absolute;
	top: 49px;
	left: 50%;
	margin-left: -225%;
	background: #fff;
	padding: 2em;
	z-index: 2;
}

.tooltip__content.right-edge{
	left: -100%;
}

.tooltip__content.left-edge{
	left: 100%;
}